# This file designates the owners for code review purposes.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* aman.tugnawat@gmail.com